<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ cardtitle }} </mat-card-title>
    <mat-card-subtitle>{{ cardsubtitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img class="mat-card-image img-fluid" mat-card-image [src]="src" alt="Photo of a Shiba Inu">
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="btn btn-price btn-outline-primary">Contactanos</a>
    <a mat-button class="btn btn-price btn-outline-secondary">Previa</a>
  </mat-card-actions>
</mat-card>