<div class="site-wrap">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
  <app-footer></app-footer>
</div>
<!-- Modal -->
<!-- <div class="modal fade" id="modalContacto" tabindex="-1" role="dialog" aria-labelledby="modalContacto"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4389a2 !important">
        <h5 class="modal-title" id="modalContacto" style="color: #fff !important">Información para Contactarte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #fff !important">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</div> -->
   
