<div class="container-fluid" data-aos="zoom-in">
  <div class="row">
    <div class="col-md-6">
      <h5>Pagos Nacionales.</h5>
      <p class="text-underline">Transferencias y Depositos a nivel Nacional.</p>
      <img class="img-fluid" src="../../../assets/images/mercantil.png" width="200px" height="100px" alt="">
      <img class="img-fluid" src="../../../assets/images/banesco.jpg" width="200px" height="100px" alt="">
      <img class="img-fluid" src="../../../assets/images/bancaribe.jpg" width="200px" height="100px" alt="">
      <img class="img-fluid" src="../../../assets/images/provincial.jpg" width="200px" height="100px" alt="">
      <img class="img-fluid" src="../../../assets/images/bdv2.png" width="200px" height="100px" alt="">
    </div>
    <div class="col-md-6">
      <h5>Pagos Internacionales.</h5>
      <p class="text-underline">Transferencias y Depositos a nivel Nacional.</p>
      <img class="img-fluid" src="../../../assets/images/paypal.png" width="220px" height="100px" alt="">
      <img class="img-fluid" src="../../../assets/images/Logo-Western-Union.jpg" width="220px" height="100px" alt="">
      <br/>
      <h6 style="font-weight: 500">Nota:</h6>
      <p style="font-size: 13px">Tasa sujeta a cambios de acuerdo al precio actual de la moneda con la que desea cancelar.</p>
    </div>
  </div>
</div>