<div class="container-fluid mt-5">
  <div class="row contact-row" style="margin-top: 5em">

    <!-- /.address and contact -->
    <div class="col-sm-6 contact-left">
      <h2><strong><span class="highlight">DATOS DE </span>CONTACTO</strong></h2>
      <ul class="ul-address">
        <li>
          <i class="far fa-map-marker-alt"></i>Carretera Nacional Valencia-Maracay Sector el Carmen,
          Diagonal a la Urb los Castores
        </li>
        <li>
          <i class="fal fa-mobile-alt"></i>(+58) 412 889 3163
        </li>
        <li>
          <i class="fal fa-envelope-open"></i><a href="mailto:info@yoursite.com">infoventas@innovacionesjd.com</a>
        </li>
        <li>
          <i class="fal fa-globe"></i><a href="http://www.innovacionesjd.com" target="blank">www.innovacionesjd.com</a>
        </li>
      </ul>
    <app-maps></app-maps>
    </div>
    
    <div class="col-sm-6 contact-right">
      <app-contact-form></app-contact-form>
    </div>

  </div>
</div>
