<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a
    class="navbar-brand"
    [routerLink]="['/pages/index']"
    [routerLinkActive]="['active']"
  >
    <img
      src="../../../assets/images/JD_Designs_Logo_F_Outline.png"
      alt="Image"
      width="60px"
      height="40px"
      class="img-fluid"
    />
    InnovacionesJD
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/index']" class="nav-link text-left">
          <i class="fad fa-home"></i> Inicio</a
        >
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/about']" class="nav-link text-left"
          ><i class="fad fa-poll-people"></i> Quienes Somos?</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          href="javascript:;"
          class="dropdown-toggle text-left"
          id="menuServices"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fad fa-computer-speaker"></i> Servicios</a
        >
        <div class="dropdown-menu" aria-labelledby="menuServices">
          <a class="dropdown-item" [routerLink]="['/services/web']">
            <i class="fad fa-code"></i> Paginas Web</a
          >
          <a class="dropdown-item" [routerLink]="['/services/hosting']">
            <i class="fad fa-server"></i> Alojamiento Web</a
          >
          <a class="dropdown-item" [routerLink]="['/services/extras']">
            <i class="fad fa-layer-plus"></i> Servicios Adicionales</a
          >
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/projects']" class="nav-link text-left"
          ><i class="fad fa-construction"></i> Proyectos</a
        >
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/blog']" class="nav-link text-left">Blog</a>
      </li> -->
      <li *ngIf="user" class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/consulta']" class="nav-link text-left"
          ><i class="fad fa-search-plus"></i> Consultar</a
        >
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/contacto']" class="nav-link text-left"
          ><i class="fad fa-map-marker-alt"></i> Contacto</a
        >
      </li>
    </ul>
    <div class="navbar-auth">
      <ul class="navbar-nav" style="margin-right: 1.2em;">
        <li *ngIf="!user" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link text-left" [routerLink]="['/auth/login']">
            <i class="fad fa-sign-in-alt"></i> Login
          </a>
        </li>
        <app-avatar></app-avatar>
      </ul>
    </div>
  </div>
</nav>
