<div class="header-top bg-light" id="inicio">
    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <nav class="navbar navbar-expand-lg site-navigation position-relative text-right" role="navigation">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                                <li class="nav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/pages/index']" class="nav-link text-left">
                                        <img src="../../../../assets/images/JD_Designs_Logo_F_Outline.png" alt="Image" width="60px" height="40px" class="img-fluid"> InnovacionesJD
                                    </a>
                                </li>
                                <li class="nav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/pages/index']" class="nav-link text-left">Inicio</a>
                                </li>
                                <li class="nav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/pages/about']" class="nav-link text-left">Quienes Somos?</a>
                                </li>
                                <li class="nav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/pages/services']" class="nav-link text-left">Servicios</a>
                                </li>
                                <li class="nav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/pages/projects']" class="nav-link text-left">Proyectos</a>
                                </li>
                                <li class="nav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/pages/blog']" class="nav-link text-left">Blog</a>
                                </li>
                                <li class="nav-item" [routerLinkActive]="['active']">
                                    <a [routerLink]="['/pages/contact']" class="nav-link text-left">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col-6 d-block d-lg-none text-right">
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                                class="icon-menu h3"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
