<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" [routerLink]="['/pages/index']" [routerLinkActive]="['active']"> <img
      src="../../../assets/images/JD_Designs_Logo_F_Outline.png" alt="Image" width="60px" height="40px"
      class="img-fluid">
    InnovacionesJD
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/index']" class="nav-link text-left">Inicio</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/about']" class="nav-link text-left">Quienes Somos?</a>
      </li>
      <li class="nav-item dropdown">
        <a href="javascript:;" class="dropdown-toggle text-left" id="menuServices" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios</a>
        <div class="dropdown-menu" aria-labelledby="menuServices">
          <a class="dropdown-item" [routerLink]="['/pages/services/web']">Paginas Web</a>
          <a class="dropdown-item" [routerLink]="['/pages/services/hosting']">Alojamiento Web</a>
          <a class="dropdown-item" [routerLink]="['/pages/services/extras']">Servicios Adicionales</a>
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/projects']" class="nav-link text-left">Proyectos</a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/blog']" class="nav-link text-left">Blog</a>
      </li> -->
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/pages/contacto']" class="nav-link text-left">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
