<div class="site-section mt-5" data-aos="zoom-in">
  <div class="container-fluid">
    <!-- <app-messages></app-messages> -->
    <div class="row">
      <div class="col-md-4" style="padding-right: 0 !important;">
        <img
          src="../../../assets/images/logo-Innovaciones-about.jpg"
          class="img-fluid"
          width="300px"
          height="250px"
          alt=""
        />
      </div>
      <div class="col-md-8" style="padding-top: 1em;">
        <div class="row">
          <h2>InnovacionesJD</h2>
          <p>
            InnovacionesJD es el resultado de quienes, como tú, buscan potenciar
            su empresa u organización a fin de acceder a los beneficios que el
            mundo digital trae consigo.
          </p>
        </div>
        <div class="row">
          <h3>Objetivo:</h3>
          <p>
            Prestar servicios digitales de excelente calidad a precios
            competitivos en el mercado adaptandonos asi a las posibilidades del
            cliente.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="service-1">
          <h3>Misión</h3>
          <p class="text-justify">
            Nuestra misión como empresa de servicios web, es ofrecer soluciones
            de negocios al empreario Venezolano en su incursión al mundo del
            internet, a través de un servicio de alta calidad, tecnología
            confible, con un diseño de vanguardia y con un equipo de trabajo
            comprometido a brindar las mejores soluciones al cliente.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-1">
          <h3>Visión</h3>
          <p>
            Queremos sera la mejor alternativa en Diseño, programacion y
            servicios web en Venezuela para las empresas que buscan explorar las
            oportunidades que ofrece el internet para impulsar su negocio, en
            donde nuestra calidad se refleje en una excelente relación con
            nuestros clientes, y donde nuestra prosperidad se comparta con
            nuestros colaboradores y proveedores.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-parallax [title]="title" class="justify-content-center"></app-parallax>

  <div class="row no-gutters" data-aos="fade-up">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 class="section-title text-black mb-4">
            Tenemos un <strong>Equipo de Expertos</strong>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <div class="person">
            <figure>
              <img
                src="../../../assets/images/person_1.jpg"
                alt="Image"
                class="img-fluid"
              />
              <div class="social">
                <a
                  href="https://www.facebook.com/profile.php?id=1404409336"
                  target="_blank"
                  ><span class="icon-facebook"></span
                ></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a
                  href="https://www.linkedin.com/in/jose-daniel-perez-ochoa-661126104"
                  target="_blank"
                  ><span class="icon-linkedin"></span
                ></a>
              </div>
            </figure>
            <div class="person-contents">
              <h3>José Daniel Pérez</h3>
              <span class="position">Desarrollador Full Stack</span>
              <p style="font-size: 11px;">Ingeniero en Eléctronica.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-lg-0">
          <div class="person">
            <figure>
              <img
                src="../../../assets/images/person_2.jpg"
                alt="Image"
                class="img-fluid"
              />
              <div class="social">
                <a
                  href="https://www.facebook.com/daniel.rangel.90226"
                  target="_blank"
                  ><span class="icon-facebook"></span
                ></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </figure>
            <div class="person-contents">
              <h3>José Daniel Rangel</h3>
              <span class="position">Desarrollador BackEnd</span>
              <p style="font-size: 11px;">Ingeniero en Informatica.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-lg-0">
          <div class="person">
            <figure>
              <img
                src="../../../assets/images/person_3.jpg"
                alt="Image"
                class="img-fluid"
              />
              <div class="social">
                <a
                  href="https://www.facebook.com/heyner.almerida"
                  target="_blank"
                  ><span class="icon-facebook"></span
                ></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </figure>
            <div class="person-contents">
              <h3>Heyner Almerida</h3>
              <span class="position">Ingeniero Practicante</span>
              <p style="font-size: 11px;">Ingeniero en Sistemas.</p>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 mb-lg-0">
          <div class="person">
            <figure>
              <img
                src="../../../assets/images/person_4.jpg"
                alt="Image"
                class="img-fluid"
              />
              <div class="social">
                <a
                  href="https://www.facebook.com/heyner.almerida"
                  target="_blank"
                  ><span class="icon-facebook"></span
                ></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </figure>
            <div class="person-contents">
              <h3>Kyle Lucas</h3>
              <span class="position">Engineer</span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
