<div class="site-section mt-5" data-aos="zoom-in">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="padding-right: 0 !important">
        <img src="../../../assets/images/logo-Innovaciones-about.jpg" width="300px" height="250px" alt="">
      </div>
      <div class="col-md-8" style="padding-top: 1em">
        <h1 class="section-subtitle">InnovacionesJD</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptate
          doloribus magni doloremque quibusdam facilis ipsum, fugit laboriosam fugiat.
          Explicabo voluptatibus rerum autem dignissimos sint eligendi ut numquam provident nesciunt.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="service-1">
          <h1 class="section-subtitle">Misión</h1>
          <p class="text-justify">
            Nuestra mision como empresa de servicios web, es ofrecer soluciones de negocios al empreario
            Venezolano en su incursion al mundo del internet, a traves de un servicio de alta calidad,
            tecnologia confible, con un diseño de vanguardia y con un equipo de trabajo comprometido a
            satisfacer las necesidades del cliente.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-1">
          <h1 class="section-subtitle">Visión</h1>
          <p>
            Queremos sera la mejor alternativa en Diseño, programacion y servicios web en Venezuela para
            las empresas que buscan explorar las oportunidades que ofrece el internet para impulsar su negocio,
            en donde nuestra calidad se refleje en una excelente relación con nuestros clientes, y donde nuestra
            prosperidad se comparta con nuestros colaboradores y proveedores.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters mt-5" data-aos="fade-up">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 mb-5 text-center">
          <h3 class="section-subtitle">Nuestro Equipo</h3>
          <h2 class="section-title text-black mb-4">We have a <strong>Good and Expert Team</strong></h2>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-3 col-md-6 mb-lg-0">
          <div class="person">
            <figure>
              <img src="../../../assets/images/person_1.jpg" alt="Image" class="img-fluid">
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </figure>
            <div class="person-contents">
              <h3>Craig Daniel</h3>
              <span class="position">Engineer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-lg-0">
          <div class="person">
            <figure>
              <img src="../../../assets/images/person_2.jpg" alt="Image" class="img-fluid">
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </figure>
            <div class="person-contents">
              <h3>Peter Silk</h3>
              <span class="position">Engineer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-lg-0">
          <div class="person">
            <figure>
              <img src="../../../assets/images/person_3.jpg" alt="Image" class="img-fluid">
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </figure>
            <div class="person-contents">
              <h3>Evan Brook</h3>
              <span class="position">Engineer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-lg-0">
          <div class="person">
            <figure>
              <img src="../../../assets/images/person_4.jpg" alt="Image" class="img-fluid">
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
            </figure>
            <div class="person-contents">
              <h3>Kyle Lucas</h3>
              <span class="position">Engineer</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
