<app-carousel style="margin-top: 10px" data-aos="zoom-in"></app-carousel>
<div class="container-fluid services-1-wrap" data-aos="zoom-in">
  <div class="row mt-5 justify-content-center text-center" data-aos="fade-up">
    <div class="col-lg-5">
      <h3 class="section-subtitle">Qué Servicios Ofrecemos?</h3>
      <h2 class="section-title mb-4 text-black">Somos una <strong>Empresa Lider</strong> en Diseño, Desarrollo y
        Programación. Ya que nos gusta lo que hacemos
      </h2>
    </div>
  </div>
  <div class="row no-gutters" data-aos="fade-up">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="service-1">
        <span class="number">01</span>
        <div class="service-1-icon">
          <span class="flaticon-engineer"></span>
        </div>
        <div class="service-1-content">
          <h3 class="service-heading">Equipo Profesional</h3>
          <p class="text-justify">Contamos con un personal capacitado en el area para brindarte la mejor asesoria en lo que necesites.</p>
        </div>
        <button type="button" class="btn btn-outline-primary" (click)="onAbout()">
          <i class="fal fa-eye"></i> Leer Más
        </button>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="service-1">
        <span class="number">02</span>
        <div class="service-1-icon">
          <span class="flaticon-compass"></span>
        </div>
        <div class="service-1-content">
          <h4 class="service-heading">Grandes Ideas</h4>
          <p class="text-justify">Proyectos hechos con ideas modernas e innovadoras que haran que tu web tenga un diseño contemporaneo</p>
        </div>
        <button type="button" class="btn btn-outline-primary" (click)="onProjects()">
          <i class="fal fa-eye"></i> Leer Más
        </button>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="service-1">
        <span class="number">03</span>
        <div class="service-1-icon">
          <span class="flaticon-oil-platform"></span>
        </div>
        <div class="service-1-content">
          <h4 class="service-heading">Infraestructura</h4>
          <p class="text-justify">Los Servidores se encuentran en la mejor condicion para asegurar el buen funcionamiento de tu aplicacion</p>
        </div>
        <button type="button" class="btn btn-outline-primary" (click)="onAbout()">
          <i class="fal fa-eye"></i> Leer Más
        </button>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="service-1">
        <span class="number">04</span>
        <div class="service-1-icon">
          <span class="flaticon-crane"></span>
        </div>
        <div class="service-1-content">
          <h4 class="service-heading">Trabajo de Calidad</h4>
          <p class="text-justify">Nuestros diseños cumplen con las buenas practicas de programación logrando asi tener un codigo flexible.</p>
        </div>
        <button type="button" class="btn btn-outline-primary" (click)="onProjects()">
          <i class="fal fa-eye"></i> Leer Más
        </button>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="block-2" data-aos="zoom-in" style="background-color: #4389a2; padding: 7rem 0; margin-top: 2em;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <img src="../../../assets/images/programacion_poster.jpg" alt="Image " class="img-fluid img-overlap"
            style="margin-top: -150px;">
        </div>
        <div class="col-lg-5 ml-auto">
          <h3 class="section-subtitle">Por qué Elegirnos?</h3>
          <h2 class="section-title mb-4">Mas de <strong>5 años de experiencia</strong> en programación</h2>
          <div class="row my-5">
            <div class="col-lg-12 d-flex align-items-center">
              <span class="line-height-0 flaticon-mortarboard display-4 mr-4 text-warning"></span>
              <div>
                <h4 class="m-0 h5 text-white">Expertos en el Area</h4>
                <p class="text-white text-justify">
                  Contamos con un equipo de trabajo con experiencia que ha 
                  participado en desarrollos para diferentes empresas del mercado.
                </p>
              </div>
            </div>
            <div class="col-lg-12 d-flex align-items-center">
              <span class="line-height-0 flaticon-idea display-4 mr-4 text-warning"></span>
              <div>
                <h4 class="m-0 h5 text-white">Diseños Modernos</h4>
                <p class="text-white text-justify">
                  Nuestros diseños se adaptan al dispositivo desde donde estas 
                  ingresando y cuentan con una interfaz grafica moderna.
                </p>
              </div>
            </div>
            <div class="col-lg-12 d-flex align-items-center">
                <span class="line-height-0 flaticon-planning display-4 mr-4 text-warning"></span>
                <div>
                  <h4 class="m-0 h5 text-white">Precios Competitivos</h4>
                  <p class="text-white text-justify">Ofrecemos los mejores precios y los mas competitivos del mercado.</p>
                </div>
            </div>
            <div class="col-lg-12 d-flex align-items-center">
              <span class="line-height-0 flaticon-diploma display-4 mr-4 text-warning"></span>
              <div>
                <h4 class="m-0 h5 text-white">Capacitación Continua</h4>
                <p class="text-white text-justify">
                  Nuestro equipo recibe capacitacion continua debido a 
                  la rapida evolución que existe en el mercado del internet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>