<div class="container-fluid" style="margin: 5em 0;">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
      <ngx-auth-firebaseui
        [guestEnabled]="false"
        [resetPasswordEnabled]="false"
        [tabindex]="0"
        [providers]="['google', 'facebook', 'twitter']"
        [appearance]="appearance"
        [registrationEnabled]="!registrationEnabled"
        goBackURL="/"
        verifyEmailGoBackText="Ir al Index"
        [min]="8"
        [max]="15"
        [enableLengthRule]="true"
        [enableLowerCaseLetterRule]="true"
        [enableUpperCaseLetterRule]="true"
        [enableDigitRule]="true"
        [enableSpecialCharRule]="true"
        (onStrengthChanged)="onStrengthChanged($event)"
        (onSuccess)="onSuccess($event)"
        (onError)="onError($event)"
        [signInTabText]="'Iniciar Sesión'"
        [signInCardTitleText]="'Credenciales'"
        [loginButtonText]="'INICIAR'"
        [forgotPasswordButtonText]="'Olvidaste la Contraseña?'"
        [nameText]="'Nombre Completo'"
        [nameErrorRequiredText]="'El Nombre es requerido'"
        [nameErrorMinLengthText]="
          'El nombre no debe tener menos de 2 caracteres'
        "
        [nameErrorMaxLengthText]="
          'El nombre no debe tener mas de 25 caracteres'
        "
        [emailText]="'Correo'"
        [emailErrorRequiredText]="'El Correo es requerido'"
        [emailErrorPatternText]="'El Coreo no posee un formato valido'"
        [passwordText]="'Contraseña'"
        [passwordErrorRequiredText]="'La Contraseña es requerida'"
        [registerTabText]="'Registrarse'"
        [registerCardTitleText]="'Crear Cuenta'"
        [registerButtonText]="'CREAR'"
        [guestButtonText]="'Invitado'"
        [resetPasswordTabText]="'Olvidaste la Contraseña?'"
        [resetPasswordInputText]="''"
        [resetPasswordErrorRequiredText]="''"
        [resetPasswordErrorPatternText]="''"
        [resetPasswordActionButtonText]="''"
        [resetPasswordInstructionsText]="''"
        [emailConfirmationTitle]="'Confirmar Correo'"
        [emailConfirmationText]="'Verificar Correo'"
        [signOutText]="'Cerrar Sesión'"
      >
      </ngx-auth-firebaseui>
    </div>
  </div>
</div>
