<div class="container-fluid" style="margin: 5em 0">
  <app-messages></app-messages>
  <div class="row mt-5 justify-content-center text-center">
    <div class="col-lg-5">
      <h3 class="section-subtitle">Planes Diseño Web</h3>
      <h4 class="section-title mb-4 text-black">En la categoria de <strong>Diseño Web</strong> tenemos los siguientes
        planes
        para ti. <strong> Si no ves el que buscas consultanos te podemos asesorar</strong>
      </h4>
    </div>
  </div>
  <div class="row package-option " data-aos="fade-up">
    <div class="col-sm-3">
      <div class="price-box">
        <div class="price-heading text-center">
          <!-- /.package icon -->
          <i class="fab fa-html5"></i>
          <!-- /.package name -->
          <h3>Web Basica</h3>
        </div>

        <!-- /.price -->
        <div class="price-group text-center">
          <span class="dollar">USD$</span>
          <span class="price">80</span>
          <span class="time">.00</span>
        </div>

        <!-- /.package features -->
        <ul class="price-feature text-center">
          <li>Web HTML5 + CSS + JS</li>
          <li>Diseño Moderno</li>
          <li>Responsive Básico <a class="poppover" href="javascript:;" role="button"
              ngbPopover="Tu web sera compatible con dispositivos de escritorio y moviles" popoverClass="custom-class"
              triggers="mouseenter:mouseleave">
              <i class="fal fa-question-circle"></i>
            </a>
          </li>
          <li><strong>Blog Personal</strong></li>
          <li>Hasta 4 Secciones</li>
          <li>01 Formulario de contacto</li>
          <li>Mapa de Ubicación</li>
          <li><strong>100Mb de Almacenamiento</strong></li>
          <li>Hasta 5 dias Habiles</li>
        </ul>

        <!-- /.package button -->
        <div class="price-footer text-center">
          <a class="btn btn-price btn-outline-primary" href="#contact">CONTÁCTANOS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="price-box">
        <div class="price-heading text-center">
          <!-- /.package icon -->
          <i class="fal fa-suitcase"></i>

          <!-- /.package name -->
          <h3>Web Negocios</h3>
        </div>

        <!-- /.price -->
        <div class="price-group text-center">
          <span class="dollar">USD$</span>
          <span class="price">100</span>
          <span class="time">.00</span>
        </div>

        <!-- /.package features -->
        <ul class="price-feature text-center">
          <li>Web HTML5 o Angular 8+</li>
          <li>Diseño Moderno</li>
          <li>Responsive Full
            <a class="poppover" href="javascript:;" role="button"
              ngbPopover="Tu web sera compatible con dispositivos de escritorio, tabletas y moviles"
              popoverClass="custom-class" triggers="mouseenter:mouseleave">
              <i class="fal fa-question-circle"></i>
            </a>
          </li>
          <li><strong>Pagina Empresarial</strong></li>
          <li>Hasta 6 Secciones</li>
          <li>01 Formulario de contacto</li>
          <li>Mapa de Ubicación</li>
          <li><strong>150Mb de Almacenamiento</strong></li>
          <li>Entre 7-15 dias habiles</li>
        </ul>

        <!-- /.package button -->
        <div class="price-footer text-center">
          <a class="btn btn-price btn-outline-primary" href="#contact">CONTÁCTANOS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="price-box">
        <div class="price-heading text-center">
          <!-- /.package icon -->
          <i class="fal fa-eye"></i>

          <!-- /.package name -->
          <h3>Web Corporativa</h3>
        </div>

        <!-- /.price -->
        <div class="price-group text-center">
          <span class="dollar">USD$</span>
          <span class="price">150</span>
          <span class="time">.00</span>
        </div>

        <!-- /.package features -->
        <ul class="price-feature text-center">
          <li><strong>Angular 8+ o React</strong></li>
          <li>Diseño Moderno</li>
          <li>Responsive Full
            <a class="poppover" href="javascript:;" role="button"
              ngbPopover="Tu web sera compatible con dispositivos de escritorio, tabletas y moviles"
              popoverClass="custom-class" triggers="mouseenter:mouseleave">
              <i class="fal fa-question-circle"></i>
            </a>
          </li>
          <li>Pagina con Dashboard</li>
          <li>Hasta 8 Secciones</li>
          <li>01 Formulario de contacto</li>
          <li>Login/Registro Usuarios</li>
          <li>200Mb de Espacio</li>
          <li>Entre 15-21 dias Habiles</li>
        </ul>

        <!-- /.package button -->
        <div class="price-footer text-center">
          <a class="btn btn-price btn-outline-primary" href="#contact">CONTÁCTANOS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="price-box">
        <div class="price-heading text-center">
          <!-- /.package icon -->
          <i class="fal fa-shopping-cart"></i>

          <!-- /.package name -->
          <h3>Carrito de Compras</h3>
        </div>

        <!-- /.price -->
        <div class="price-group text-center">
          <span class="dollar">USD$</span>
          <span class="price">200</span>
          <span class="time">.00</span>
        </div>

        <!-- /.package features -->
        <ul class="price-feature text-center">
          <li><strong>Angular 8+/PHP</strong></li>
          <li>Diseño Moderno</li>
          <li>Responsive Full
            <a class="poppover" href="javascript:;" role="button"
              ngbPopover="Tu web sera compatible con dispositivos de escritorio, tabletas y moviles"
              popoverClass="custom-class" triggers="mouseenter:mouseleave">
              <i class="fal fa-question-circle"></i>
            </a>
          </li>
          <li>E-Commerce</li>
          <li>Hasta 8 Secciones</li>
          <li>02 Formulario de contacto</li>
          <li><strong>Administrable</strong></li>
          <!-- <li>Diseño Moderno</li> -->
          <li>250Mb de Espacio</li>
          <li>Hasta 20 dias Habiles</li>
        </ul>

        <!-- /.package button -->
        <div class="price-footer text-center">
          <a class="btn btn-price btn-outline-primary" href="#contact">CONTÁCTANOS</a>
        </div>
      </div>
    </div>
  </div>
</div>

