<div class="">
  <mat-card class="reset-password-card">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <img
        [src]="authProcess.user.photoURL"
        alt=""
        width="150"
        height="150"
        style="border-radius: 50%; margin-top: 1rem;"
      />
      <h3>Cambiar Contraseña</h3>
    </mat-card-header>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center"
      style="padding: 2rem;"
    >
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Correo</mat-label>
        <input
          disabled="true"
          [value]="authProcess.user.email"
          matInput
          placeholder="E-mail"
        />
        <mat-icon color="primary" matSuffix>email</mat-icon>
      </mat-form-field>
      <form
        (ngSubmit)="resetPasswordFormGroup.valid && changePassword()"
        [formGroup]="resetPasswordFormGroup"
        style="max-width: 350px; margin-top: 1rem;"
      >
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label> Contraseña </mat-label>
          <input
            title="Contraseña"
            formControlName="password"
            matInput
            required
            type="password"
          />
          <mat-icon color="primary" matSuffix>lock</mat-icon>
          <mat-error *ngIf="resetPasswordFormControl.hasError('required')">
            El Password es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label>Confirmar Contraseña </mat-label>
          <input
            title="Confirmar Contraseña"
            formControlName="confirmPassword"
            matInput
            required
            type="password"
          />
          <mat-icon color="primary" matSuffix>lock</mat-icon>
          <mat-error
            *ngIf="resetConfirmPasswordFormControl.hasError('required')"
          >
            El Password es requerido
          </mat-error>
          <mat-error *ngIf="resetPasswordFormGroup.errors?.mismatch">
            Las Contraseñas no coinciden
          </mat-error>
        </mat-form-field>
        <!-- <p *ngIf="passReset">{{ resetPasswordInstructionsText }}</p> -->
      </form>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="center">
      <mat-progress-bar
        *ngIf="isLoading"
        mode="indeterminate"
      ></mat-progress-bar>
      <button color="primary" mat-raised-button type="submit">
        Cambiar Password
      </button>
    </mat-card-actions>
  </mat-card>
</div>
